<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>{{{title}}}</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <header>
                <img style="height: 350px;width: 100%;"
                    src="https://tipsmake.com/data/images/the-most-beautiful-advertising-banners-picture-16-u4IVi8u1c.jpg"
                    alt="">
       <div class="row">
                <div class="collapse navbar-collapse" style="background-color: blueviolet">
                        <ul class="navbar-nav" style="margin-left: 30px;list-style: none;">
                            
                            
                            <li class="nav-item">
                                <a style="color: white; margin-right: 100px;" class="nav-link" href="#"><span
                                        class="glyphicon glyphicon-comment"></span> Hỏi đáp</a>
                            </li>
                            <li class="nav-item">
                                <a style="color: white; margin-right: 100px;" class="nav-link" href="/addProduct"><span
                                        class="glyphicon glyphicon-upload"></span>Thêm sản phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a style="color: white; margin-right: 100px;" class="nav-link" href="/signIn"><span
                                        class="glyphicon glyphicon-user"></span> Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a style="color: white" class="nav-link" href="/register"><span
                                        class="glyphicon glyphicon-ok"></span> Đăng kí</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </header>
        </div>


        {{{body}}}




        <div class="row">
            <footer>
                <div class="row" style="height: 120px; background-color: tomato;">
                    <h1 style="text-align: center;">This is footer</h1>
                </div>
            </footer>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>