        <div class="row">
            <article class="col-sm-9">
                <div class="row poly-cart"style="margin-top: 50px;">
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-header">
                                Samsung
                            </div>
                            <div class="card-body">
                                <img src="https://minhtuanmobile.com/wp-content/uploads/2020/10/iphone-12-pro-max-195420-015420-600x600-1.jpg" alt="" width="250" height="200">
                                <div class="card-footer">$1000</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" >
                        <div class="card text-center">
                            <div class="card-header">
                                Samsung
                            </div>
                            <div class="card-body">
                                <img src="sam.jpg" alt="" width="250" height="200">
                                <div class="card-footer">$1000</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-header">
                                Samsung
                            </div>
                            <div class="card-body">
                                <img src="sam.jpg" alt="" width="250" height="200">
                                <div class="card-footer">$1000</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row poly-cart">
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-header">
                                Samsung
                            </div>
                            <div class="card-body">
                                <img src="sam.jpg" alt="" width="250" height="200">
                                <div class="card-footer">$1000</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-header">
                                Samsung
                            </div>
                            <div class="card-body">
                                <img src="sam.jpg" alt="" width="250" height="200">
                                <div class="card-footer">$1000</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-header">
                                Samsung
                            </div>
                            <div class="card-body">
                                <img src="./images/sam.jpg" alt="" width="250" height="200">
                                <div class="card-footer">$1000</div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <aside class="col-sm-3">
                <div class="card poly-cart" style="margin-top: 50px;">
                </div>
                <div class="card poly-cart">
                    <div class="card-body">
                        <div class="row">
                            <form action="">
                                <input type="text" class="form-control" placeholder="search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card poly-cart">
                    <div class="card-header">
                        <span class="glyphicon glyphicon-home"></span> Chủng loại
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">Máy tính xách tay</li>
                        <li class="list-group-item ">Điện thoại di động</li>
                        <li class="list-group-item ">Phụ kiện</li>
                    </ul>
                </div>
        </div>
        </aside>
    </div>
    