<form>
    <input type="text" placeholder="Name">
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Number Phone">
    <input type="text" placeholder="Password">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>